html {
  font-size: 16px;
}

@media (min-width: 1921px) {
  html {
    font-size: 0.856vw;
  }
}

body {
  background-color: #0b0d13;
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.btn_bg.active,
.aside_link.active {
  background: radial-gradient(
    circle,
    rgba(79, 166, 255, 1) 0%,
    rgba(0, 126, 255, 1) 100%
  );
}

.aside_link.leagues.secondary {
  background: linear-gradient(
    90deg,
    rgba(103, 232, 134, 1) 0%,
    rgba(43, 216, 108, 1) 100%
  );
}

a {
  display: inline-block;
}

.aside_link:hover svg path,
.aside_link.active svg path {
  fill: #fff;
}

.aside_link:hover,
.aside_link.active {
  color: #fff;
}

.submenu {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

ul.submenu {
  background: #6b78971f;
  border-radius: 0.52rem;
}

.aside_link.active .down_arrow {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

.down_arrow {
  width: 1.1rem;
}

.yes_active span {
  background: rgb(47 206 110 / 24%);
  color: #2fce6e;
}

.no_active span {
  background: rgb(255 71 87 / 24%);
  color: #ff4757;
}

/* Custom Input */

.custom-input input,
.custom-input select {
  border: 1px solid transparent;
}

.custom-input input::placeholder {
  color: #6b7897;
}

.custom-input:focus-within label,
.custom-input input:not(:placeholder-shown) + label {
  transform: translateY(-0.3rem);
  font-weight: 400;
  font-size: 0.8125rem;
}

[type="checkbox"]:checked {
  background-position: center 0.5rem;
  background-size: 0.625rem;
}

[type="text"]:focus,
textarea:focus {
  border-color: transparent;
}

/* Custom Select */

.float-label-select.custom-input:focus-within label {
  transform: translateY(-0.5rem) scale(1);
}

.leg_radio-btn input:checked + label {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(79, 166, 255, 0.16) 0%,
    rgba(0, 126, 255, 0.16) 100%
  );
  border-radius: 0.52rem;
  color: white;
  height: 100%;
}

.leg_radio-btn input:checked + label::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.52rem;
  padding: 1px;
  background: linear-gradient(
    180deg,
    rgba(79, 166, 255, 1) 0%,
    rgba(0, 126, 255, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.basic-multi-select {
  border: 0;
  background: #181d29;
  border-radius: 0.52rem;
}

.basic-multi-select .select__control {
  border: 0;
  background: #181d29;
  border-radius: 0.52rem;
}

.basic-multi-select .select__control .select__value-container {
  padding: 0.3rem 0.7rem;
  font-size: 0.94rem;
}

.select__dropdown-indicator,
.select__indicator-separator {
  display: none !important;
}

.select__multi-value {
  background-color: #262b39 !important;
  color: #6b7897;
  border-radius: 6px !important;
}

.select__multi-value .select__multi-value__label {
  color: #fff;
  font-size: 0.94rem;
  padding-block: 5px;
}

.nf_user_form form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.nf_user_form.add-event-form form {
  border: none;
  border-radius: 0;
  margin: 0;
}

.nf_user_form form {
  background: #11141d;
  border: 1px solid #252c3f;
  border-radius: 8px;
  padding: 20px 20px 40px;
  margin: 30px auto 0;
  max-width: 350px;
  /* display: flex; */
  flex-direction: column;
  gap: 15px;
}
.css-glcv5m-MuiPickersLayout-contentWrapper {
  background: #181d29 !important;
  /* color: white !important; */
}
.css-1x57bai-MuiDialogActions-root-MuiPickersLayout-actionBar {
  background: #181d29 !important;
  /* color: white !important; */
}
.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  color: #6b7897 !important;
}
/* Firefox */
.css-1wvbbxw-MuiList-root-MuiMultiSectionDigitalClockSection-root {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

/* Chrome, Safari, Edge */
.css-1wvbbxw-MuiList-root-MuiMultiSectionDigitalClockSection-root::-webkit-scrollbar {
  display: none !important;
}
/* Main editor area text color and background */
.custom-quill-editor .ql-editor {
  min-height: 120px;
  color: white;
  background-color: #2b3245;
}

/* Toolbar background and buttons */
.custom-quill-editor .ql-toolbar {
  background-color: #1f2535;
  border: none;
  border-bottom: 1px solid #444;
}

/* Buttons inside toolbar */
/* Target stroke (used by most toolbar icons like bold, italic, etc.) */
.custom-quill-editor .ql-toolbar .ql-stroke {
  stroke: white !important;
}

/* Target fill (used by icons like dropdowns, color pickers, etc.) */
.custom-quill-editor .ql-toolbar .ql-fill {
  fill: white !important;
}

/* Optional: border color for pickers (like color dropdown) */
.custom-quill-editor .ql-toolbar .ql-picker {
  color: white;
}

/* Active button state */
.custom-quill-editor .ql-toolbar .ql-active {
  background-color: #3a3f5a;
}

.custom-quill-editor .ql-toolbar.ql-snow {
  border: 0px;

  border-top-left-radius: 0.52rem;
  border-top-right-radius: 0.52rem;
}

/* Focus and border styling */
.custom-quill-editor .ql-container.ql-snow {
  border: 0px solid #ccc;
}
.custom-quill-editor .ql-editor {
  border: 0px;
  border-bottom-left-radius: 0.52rem;
  border-bottom-right-radius: 0.52rem;
}
.custom-quill-editor span {
  color: #fff;
}

.custom-input > input {
  background-color: #2b3245;
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
.time__pic-wrap .react-datepicker-wrapper {
  display: block !important;
}

.txt_delete {
  --tw-text-opacity: 1;
  color: rgb(240 82 82 / var(--tw-text-opacity, 1));
  border: rgb(240 82 82 / var(--tw-text-opacity, 1)) solid;
  padding: 5px;
  border-width: 0.5px;
  border-radius: 5px;
}

.ibox-title {
  background-color: transparent;
  border: none;
  border-radius: 10px 10px;
  margin-bottom: 20px;
}

.ibox-content {
  background-color: #0b0d13;
  border: none;
  padding: 0;
}

.ibox-content .dataTables_wrapper > .row:first-child {
  background-color: transparent;
  border-bottom: 1px solid #1a1f2d;
  border-radius: 10px;
  padding: 15px 15px 10px;
  margin-bottom: 6px !important;
}

.ibox-content table.dataTable {
  border-collapse: collapse !important;
  border-spacing: 0 6px;
  margin: 0 !important;
}

.ibox-content .form-control {
  background-color: #181d29;
  border-radius: 6px;
  border: none;
}

.ibox-content .input-group.date .form-control {
  border-radius: 0 6px 6px 0;
}

.nf_stage-quick_scores .nf_back-section {
  border-bottom: none;
  border-top: 1px solid #202637;
  margin-top: 32px;
  margin-bottom: 0;
}

.nf_gray-btn {
  background-color: #242b3c;
  color: #6b7897;
}

.nf_gray-btn:hover {
  color: #6b7897;
}

.nf_tournaments .nf_switch-button .form-control {
  background-color: #242b3c;
}

.nf_back-section .nf_top-filter select {
  background-color: #242b3c;
}
.nf_stage-quick_scores #checkbox_1 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 12px;
}
.nf_stage-quick_scores .nf_normal-checkbox {
  margin-right: 16px;
}
.nf_stage-quick_scores .nf_serchbar .input-group {
  width: 27.5vw;
}
.nf_stage-quick_scores .nf_topbar-wrap {
  flex-wrap: wrap;
}
.nf_battel-score
  .nf-cont-wrap
  h6
  input[type="number"]::-webkit-outer-spin-button,
.nf_battel-score
  .nf-cont-wrap
  h6
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nf_battel-score .nf-cont-wrap h6 input[type="number"] {
  -moz-appearance: textfield;
  background-color: transparent;
  width: 60px;
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  height: 24px;
}

.nf_tournaments-card.list-focus {
  background: rgba(0, 126, 255, 0.16);
  border: 1px solid #007eff;
  border-radius: 12px;
}
.nf_battel-score .nf-cont-wrap {
  align-items: center;
}
/* Seed group design */
.nf_match-title p {
  font-size: 16px;
  justify-content: center;
}
.nf_tournaments-group.nf__seeding-group {
  background-color: #181d29;
}
.bracket .nf__seeding-group .round {
  vertical-align: top;
}

.bracket
  .nf__seeding-group
  .round
  .winners
  > div.matchups
  .matchup
  .participants {
  border: 1px solid #6b7897;
  background-color: transparent;
}
.bracket
  .nf__seeding-group
  .round
  .winners
  > div.matchups
  .matchup
  .participants
  .participant {
  background-color: transparent;
}

.nf__seeding-group .nf_seeding-title p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}
.nf__seeding-group .nf_seeding-title {
  justify-content: space-between;
  width: 100%;
}
.nf__seeding-group .nf_bracket-title ul li {
  background: transparent;
}

.nf__seeding-group .nf_bracket-title ul li span {
  display: block;
  background: linear-gradient(270deg, #39415c 0%, #555f83 100%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.nf_seed-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  align-items: center;
  border: 1px solid #6b7897;
  padding: 8px;
  border-radius: 10px;
}

.nf_seed-wrap p {
  margin-bottom: 0;
  line-height: normal;
}

.nf_match-title h2 {
  display: block;
  background: linear-gradient(270deg, #39415c 0%, #555f83 100%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}
/* Seed group design */
.nf_top-filter {
  padding: 4px 4px 4px 12px;
  border-radius: 12px;
  max-width: 40%;
  flex: 0 0 40%;
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid transparent;
  transition: 0.15s ease;
  cursor: pointer;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 25px 0 40px 24px;
}

.checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  bottom: 24px;
  left: 24px;
  background-color: transparent;
  border-radius: 6px;
  /* opacity: 0;
    transform: scale(0); */
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 0;
  border: 1px solid #6b7897;
}

.checkbox-tile:hover {
  border-color: #007eff;
}

/* .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
} */

.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .checkbox-icon svg {
    width: 3rem;
    height: 3rem;
} */

.checkbox-input:checked + .checkbox-tile .checkbox-icon svg path {
  fill: #0e437f;
}

.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

.checkbox-wrapper {
  width: 100%;
  margin-bottom: 0;
}

.checkbox-group .checkbox {
  background: #181d29;
  border-radius: 16px;
  position: relative;
  width: 100%;
}
.nf_stage-quick_scores .nf_normal-checkbox h4 {
  font-size: 13px;
}

.nf_serchbar .input-group-text {
  background-color: #181d29;
  border-color: transparent;
  padding: 11px 5px 11px 15px;
}

.nf_serchbar .input-group-prepend span {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.nf_serchbar input {
  color: #6b7897 !important;
  font-weight: 600;
  font-size: 17px;
  border-color: #181d29;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #181d29;
  border-radius: 6px;
  border: none;
}

.cust_searchbar.nf_serchbar input {
  height: 100%;
  width: 408px;
}

.nf_serchbar.cust_searchbar .input-group {
  width: 100%;
}

.nf_serchbar input:focus {
  border-color: #181d29;
}

.nf_serchbar .input-group {
  width: 408px;
}

.nf_serchbar {
  margin-right: 16px;
}

.nf_serchbar input::placeholder {
  color: #6b7897;
}

.nf_normal-checkbox .checkbox-tile {
  padding: 8px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 8px;
}
.checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  bottom: 24px;
  left: 24px;
  background-color: transparent;
  border-radius: 6px;
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 0;
  border: 1px solid #6b7897;
}
.nf_normal-checkbox .checkbox-tile:before {
  left: 12px;
  bottom: auto;
  background-color: #181d29;
}

.checkbox-input:checked + .checkbox-tile {
  border-color: #007eff;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  color: #2260ff;
}

.checkbox-input:checked + .checkbox-tile:before {
  background-color: #2792ff;
  border-color: #2792ff;
  background-size: 12px;
}

.nf_stag input[type="checkbox"]:focus {
  box-shadow: none;
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #007eff;
}

.checkbox-input:focus + .checkbox-tile {
  border-color: #2260ff;
}
.nf_stage-quick_scores .nf_normal-checkbox h4 {
  font-size: 14px;
  padding-left: 34px;
}
.checkbox-input:checked + .checkbox-tile h4 {
  color: #fff;
}
.checkbox-tile h4 {
  color: #6b7897;
}
.checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.nf_top-filter select {
  color: #fff;
  padding: 8px 40px 8px 10px;
  height: 40px;
  border-radius: 10px !important;
  font-size: 17px;
}
.nf_back-section .nf_top-filter select {
  background-color: #242b3c;
}
.nf_top-filter select.form-control:not([size]):not([multiple]) {
  color: #fff;
  height: 40px;
}
.nf_bg {
  background-color: #181d29;
}
.nf_top-filter p {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-right: 12px;
  margin-bottom: 0;
}
.color_gray {
  color: #6b7897 !important;
}
.nf_serchbar {
  margin-right: 16px;
}
.nf_stage-quick_scores .nf_serchbar .input-group {
  width: 27.5vw;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group-prepend {
  margin-right: -1px;
  display: flex;
}
.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.nf_serchbar .input-group-text {
  background-color: #181d29;
  border-color: transparent;
  padding: 11px 5px 11px 15px;
}
.nf_serchbar .input-group-prepend span {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.ibox-content .form-control {
  border: 1px solid transparent !important;
}
.ibox-content .form-control {
  background-color: #181d29;
  border-radius: 6px;
  border: none;
}
.btn-nf-gray.btn {
  background: linear-gradient(270deg, #39415c 0%, #555f83 100%);
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  transition: all 0.5s;
  padding: 12px 30.5px;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
}
.nf_stage-quick_scores .nf_top-filter:not(:last-child) {
  margin-bottom: 12px;
}

.nf_cs-wrap .nf_cs-content {
  padding-bottom: 70px;
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 24px 12px 0 12px;
  background-color: #181d29;
  border-radius: 12px;
  transition: all 0.5s;
}
.nf_stage-img {
  background-color: #242b3c;
  border-radius: 50%;
  width: 5.2vw;
  height: 5.2vw;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.nf_stage-content h5 {
  background-color: #242b3c;
  font-size: 24px;
  line-height: 32px;
  padding: 4px 20px;
  border-radius: 10px;
  margin: 0 4px;
  color: #fff;
}
.nf_cs-wrap .nf_cs-content {
  padding-bottom: 70px;
  overflow: hidden;
  height: 100%;
  position: relative;
}
.nf_cs-content {
  padding: 24px 0 0 0;
  background-color: #181d29;
  border-radius: 12px;
  transition: all 0.5s;
  position: relative;
}
.nf_cs-content h3 {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.nf_stage-content p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 20px;
  margin-top: 4px;
  font-weight: 400;
  color: #6b7897;
}
.nf_stage-bottombar {
  width: 100%;
  background: #242b3c;

  padding: 8px 12px;
}
.nf_stage-bottombar p {
  color: #fff;
  font-size: 12px;
}
.nf_cs-btn-group {
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nf_cs-btn-group .btn.btn-nf-gray {
  padding: 5px;
  line-height: normal;
}
.nf_cs-btn-group strong {
  display: block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}
.btn-nf-gray.btn {
  background: linear-gradient(270deg, #39415c 0%, #555f83 100%);
  border-radius: 10px;
  color: #ffffff;
  display: inline-block;
  transition: all 0.5s;
  padding: 12px 30.5px;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
}
