@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary-color: #0B0D13;
  --secondary-color: #000;
  --custom-gray: #6B7897;
  --input-color: #181D29;
  --dark-blue: #11141D;
  --light-border: #202637;
}