@import "tailwindcss";

.root,
#root,
#docs-root {
  --primary-color: #0b0d13;
  --secondary-color: #000;
  --custom-gray: #6b7897;
  --input-color: #181d29;
  --dark-blue: #11141d;
  --light-border: #202637;
}
